{% extends 'base.html.twig' %}

{% block title 'Accueil' %}

{% block body %}
    <div class="container" style="width: 1170px; margin-top: 150px;">
        <div class="row">
            <div class="col-md-6 mt-4">
                <img class="img-responsive" src="./images/autres/Image-e-commerce.png" alt="Image-e-commerce"
                     style="display: block; max-width: 100%; height: auto;">
            </div>
            <div class="col-md-6 mt-4">
                <h2 style="font-family: cursive;">À propos de notre boutique</h2>
                <p> UNIQUE est une plate-forme internationale de vente d'articles uniques et créatifs. On y trouve tout un univers d'objets particuliers et extraordinaires, de créations faites main et de trésors vintage.</p>
                <p> Dans cette époque ou l'automatisme est de plus en plus présent, nous considérons comme notre devoir de maintenir l'aspect humain du commerce. C'est pourquoi nous avons créé un endroit où la créativité peut s'exprimer et prospérer grâce aux individus. Nous aidons notre communauté de vendeurs à transformer leurs idées en entreprises florissantes. Via notre plate-forme, ils sont connectés à des millions d'acheteurs en quête de choses différentes et particulières, avec une touche humaine, pour ces moments de la vie où l'imagination est nécessaire.</p>
            </div>
        </div>

    </div>
    
{% endblock %}